@import "~bootstrap/scss/variables";

.backgrounds {
  position: absolute;
  width: 100%;
  z-index: -1;

  .container-fluid {
    padding: 0;
  }

  .background {
    position: absolute;
    opacity: 0;

    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100%;

    transition: .8s;

    &:before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: $black;

      .page-template-customers &,
      .page-template-news &,
      .page-template-contacts & {
        background-color: $white;
      }


      opacity: .5;
    }

    &.active {
      opacity: 1;
    }
  }
}