@import "~bootstrap/scss/variables";

.company-container {
  background: $white;

  padding-top: 200px;
  padding-bottom: 300px;

  > div {
    margin-bottom: 80px;
  }

  h3,
  h4 {
    color: map_get($theme-colors, primary);
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: .7rem;
  }

  .btn {
    text-transform: uppercase;
    margin-top: 3rem;
  }

  .company-content-images {
    h3,
    h4 {
      color: $white;
    }

    h3 {
      text-align: center;
      margin: 50% 0;
    }

    h4 {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    h3 {
      position: relative;
    }

    .row {
      .background {
        background-position: center;
        background-size: cover;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        opacity: .6;
      }

      > div {
        background-color: $black;
        position: relative;
      }
    }
  }

  + div {
    background: map_get($theme-colors, primary);
  }
}