@import "~bootstrap/scss/variables";

.contacts-form-container {
  background-color: map_get($theme-colors, primary);
  color: $white;

  padding-top: 250px;
  margin-top: -200px;

  .col-6 {
    padding: 25px 60px;
  }

  textarea {
    border-width: 1px !important;
  }

  .btn-light {
    color: map_get($theme-colors, primary);

    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}

.contacts-form-container,
.newsletter-container {
  .form-control-container {
    position: relative;
    margin: 20px auto;
  }

  .form-control {
    background: transparent;

    color: $white;

    border: 0 solid $white;
    border-bottom-width: 1px;

    border-radius: 0;

    &::placeholder {
      color: transparent;
    }

    &:not(:placeholder-shown) {
      ~ .floating-label {
        top: -5px;
        font-size: 11px;
      }
    }
  }

  .floating-label {
    position: absolute;
    left: 12px;
    top: 6px;

    pointer-events: none;

    transition: 0.2s ease all;
  }
}
