@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.contacts-container {
  background-color: map_get($grays, 100);
  
  padding-top: 30px;
  @include media-breakpoint-up(md) {
    .customers-container + & {
      margin-top: -320px;
    }

    .page-template-product & {
      margin-top: 0;
    }

    padding-top: 260px;
  }

  .spacer + & {
    padding-top: 80px;
  }
  padding-bottom: 100px;

  > .container {
    > .row {
      > :first-child {
        @include media-breakpoint-up(md) {
          border-right: 1px dotted map_get($grays, 400);
          margin-right: 2rem;

          text-align: left;
        }

        text-align: center;

        + div {
          @include media-breakpoint-down(sm) {
            text-align: center;
          }
        }
      }
    }
  }

  h3 {
    color: map_get($theme-colors, primary);
    font-size: .9rem;
    text-transform: uppercase;

    margin-bottom: 1rem;
  }

  ul {
    a {
      color: map_get($grays, 500);

      &:hover {
        color: map_get($grays, 700);
      }
    }
  }

  p {
    color: map_get($theme-colors, primary);

    margin-bottom: 2rem;
  }
}