@import "~bootstrap/scss/variables";

.contacts-form-container {
  background-color: map_get($theme-colors, primary);
  color: white;

  padding-top: 250px;
  margin-top: -200px;

  .col-6 {
    padding: 25px 60px;
  }

  .form-control {
    background: transparent;

    border: 0 solid white;
    border-bottom-width: 1px;

    border-radius: 0;

    &::placeholder {
      color: white;
    }
  }

  textarea {
    border-width: 1px !important;
  }

  .btn-light {
    color: map_get($theme-colors, primary);

    margin-top: 2rem;
    margin-bottom: 5rem;
  }
}