@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.customer_map-container {
  @include media-breakpoint-up(md) {
    padding-top: 100px;
    padding-bottom: 25%;
  }

  background: bottom no-repeat;

  .page-template-customers & {
    margin-top: -310px;

    padding-top: 0;
    padding-bottom: 200px;

    background: none !important;
  }

  .row {
    .page-template-customers & {
      justify-content: center;
    }
  }

  .card {
    position: relative;
    background: none;
    border: 0;

    text-align: center;

    color: $white;
    .page-template-customers & {
      color: map_get($grays, 700);
    }

    &:first-child {
      &:after {
        border-left: 0 !important;
      }
    }

    &:after {
      content: "";
      position: absolute;

      top: 67px;
      bottom: 35px;
      left: 0;

      border-left: 1px dotted map_get($grays, 100);
      @include media-breakpoint-down(md) {
        border-left: 0 !important;
      }

      .page-template-customers & {
        border-left: 1px solid map_get($theme-colors, primary);
      }
    }
  }

  .card-title {
    color: map_get($theme-colors, primary);
    font-size: 5rem;

    font-weight: 100;
  }

  .arrow-2-map {
    color: $white;
    margin: 3rem auto -6rem;
    padding: 6px 11px;
    display: block;
    width: 34px;

    animation: bounce 2s infinite;
  }
}