@import "~bootstrap/scss/variables";

.customer_map-container {
  padding-top: 100px;
  padding-bottom: 35%;

  background: bottom no-repeat;

  .card {
    position: relative;
    background: none;
    border: 0;

    text-align: center;

    color: $white;

    &:after {
      content: "";
      position: absolute;

      top: 67px;
      bottom: 35px;
      right: 0;

      border-left: 1px dotted map_get($grays, 100);
    }
  }

  .card-title {
    color: map_get($theme-colors, primary);
    font-size: 5rem;

    font-weight: 100;
  }
}