@import "~bootstrap/scss/variables";

.customer_map-container {
  padding-top: 100px;
  padding-bottom: 35%;

  background: bottom no-repeat;

  .page-template-customers & {
    margin-top: -310px;

    padding-top: 0;
    padding-bottom: 200px;

    background: none !important;
  }

  .row {
    .page-template-customers & {
      justify-content: center;
    }
  }

  .card {
    position: relative;
    background: none;
    border: 0;

    text-align: center;

    color: $white;
    .page-template-customers & {
      color: map_get($grays, 700);
    }

    &:first-child {
      &:after {
        border-left: 0 !important;
      }
    }

    &:after {
      content: "";
      position: absolute;

      top: 67px;
      bottom: 35px;
      left: 0;

      border-left: 1px dotted map_get($grays, 100);
      .page-template-customers & {
        border-left: 1px solid map_get($theme-colors, primary);
      }
    }
  }

  .card-title {
    color: map_get($theme-colors, primary);
    font-size: 5rem;

    font-weight: 100;
  }
}