@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700');

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-thin-webfont.woff2') format('woff2'),
  url('../fonts/tipotype_-_brother-1816-thin-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-thin-italic-webfont.woff2') format('woff2'),
  url('../fonts/tipotype_-_brother-1816-thin-italic-webfont.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-light-webfont.woff2') format('woff2'),
       url('../fonts/tipotype_-_brother-1816-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-light-italic-webfont.woff2') format('woff2'),
       url('../fonts/tipotype_-_brother-1816-light-italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-medium-webfont.woff2') format('woff2'),
       url('../fonts/tipotype_-_brother-1816-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-medium-italic-webfont.woff2') format('woff2'),
       url('../fonts/tipotype_-_brother-1816-medium-italic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-bold-webfont.woff2') format('woff2'),
  url('../fonts/tipotype_-_brother-1816-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brother.1816';
  src: url('../fonts/tipotype_-_brother-1816-bold-italic-webfont.woff2') format('woff2'),
  url('../fonts/tipotype_-_brother-1816-bold-italic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
