@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

body {
  &.page-template-customers,
  &.page-template-news,
  &.page-template-contacts {
    background-color: $white;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

.btn {
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;

  padding: 10px 50px;
}

.card-body {
  padding: 2rem 2rem;
}