@import "~bootstrap/scss/variables";

.navbar {
  &.navbar-hidden {
    opacity: 0;
    transition: .8s;

    transform: translateY(-120px);

    &.navbar-hidden-visible {
      opacity: 1;
      transform: none;
    }
  }

  .nav-link {
    font-family: $headings-font-family;
    font-size: 0.8rem;
    font-weight: $headings-font-weight;

    text-transform: uppercase;
  }
}

header {
  max-width: 700px;

  margin: 8% auto 300px;

  > * {
    margin: 0 auto 7%;

    text-align: center;
  }

  .home & {
    color: $white;
  }
}
