@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.marker {
  position: relative;
  padding: .5rem;

  min-width: 200px;

  &:before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    right: 30%;

    border-top: 3px solid map_get($theme-colors, primary);
  }

  h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1.7rem;
    font-weight: $font-weight-bold;
  }

  ul {
    color: map_get($grays, 500);
    line-height: 1.5rem;

    white-space: nowrap;

    strong {
      color: map_get($grays, 700);
    }
  }

  .marker-image {
    margin-left: 3rem;
  }
}

.customers_on_map-container {
  @include media-breakpoint-up(lg) {
    transform: translateY(-50%);
  }

  .carousel-inner {
    box-shadow: 0 20px 100px 0 rgba($black, .1);
  }

  .customer_logo {
    background-color: $white;
    &:nth-child(2n+1) {
      background-color: map_get($grays, 100);
    }

    cursor: pointer;

    img {
      display: block;

      padding: 2rem 0;
      margin: auto;
    }
  }
}
