@import "~bootstrap/scss/variables";

.newsletter-container {
  background-color: map_get($theme-colors, primary);

  color: $white;

  text-align: center;

  margin-top: -70px;
  padding-bottom: 100px;
  .production-others-container + & {
    margin-top: -130px;
    padding-top: 250px;
  }

  .col-newsletter {
    padding-bottom: 100px;
    margin-bottom: -100px;

    padding-top: 400px;
    margin-top: -500px;

    + .col-newsletter {
      background-color: darken(map_get($theme-colors, primary), 10%);
    }
  }

  small {
    font-family: $headings-font-family;
    text-transform: uppercase;
  }

  h3 {
    width: 35%;
    .page-template-product & {
      width: 75%;
    }

    margin: 1rem auto 4rem;
  }

  input {
    border: 0;
    border-bottom: 2px solid $white;

    background: transparent;

    text-align: center;
    color: $white;

    border-radius: 0;

    &:focus {
      border-color: $white;
      background: transparent;
      color: $white;
    }

    &::placeholder {
      color: map_get($grays, 100);
    }
  }

  .btn-light {
    color: map_get($theme-colors, primary);
  }

  .mc4wp-form-fields {
    .row {
      &:first-child {
        margin-bottom: 2rem;

        .col {
          margin-left: 0;
          margin-right: 20%;

          .page-template-product & {
            flex: 0 0 100%;

            padding: 0 20% 2rem;
            margin: 0 !important;
          }

          &:first-child {
            margin-left: 20%;
            margin-right: 0;
          }
        }
      }
    }
  }
}