@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.newsletter-container {
  background-color: map_get($theme-colors, primary);

  color: $white;

  text-align: center;

  @include media-breakpoint-down(md) {
    padding-top: 150px;
  }

  margin-top: -70px;
  padding-bottom: 100px;
  .page-template-product & {
    @include media-breakpoint-down(md) {
      padding-bottom: 0;
    }
  }

  .production-others-container + & {
    margin-top: -130px;
    padding-top: 250px;
  }

  .col-newsletter {
    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
      margin-bottom: -100px;

      padding-top: 400px;
      margin-top: -500px;
    }

    @include media-breakpoint-down(md) {
      padding-bottom: 30px;
    }

    + .col-newsletter {
      background-color: darken(map_get($theme-colors, primary), 10%);

      @include media-breakpoint-down(md) {
        padding-top: 30px;
      }
    }
  }

  small {
    font-family: $headings-font-family;
    text-transform: uppercase;
  }

  h3 {
    width: 35%;
    .page-template-product & {
      width: 75%;
    }

    margin: 1rem auto 4rem;
  }

  input {
    border: 0;
    border-bottom: 2px solid $white;

    background: transparent;

    color: $white;

    border-radius: 0;

    &:focus {
      border-color: $white;
      background: transparent;
      color: $white;
    }

    &::placeholder {
      color: map_get($grays, 100);
    }
  }

  .btn-light {
    color: map_get($theme-colors, primary);
  }

  .mc4wp-form-fields {
    .row {
      &:first-child {
        margin-bottom: 2rem;

        @include media-breakpoint-up(sm) {
          > div {
            margin-left: 0;
            margin-right: 20%;

            .page-template-product & {
              flex: 0 0 100%;

              padding: 0 20% 2rem;
              margin: 0 !important;
            }

            &:first-child {
              margin-left: 20%;
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  + .spacer {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}