@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.product_gallery-container {
  background-color: map_get($theme-colors, primary);

  .container {
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
      transform: translateY(-50%);
    }
  }

  .gallery-preview {
    background-position: center;
    background-size: cover;

    position: relative;

    &:before {
      content: '';
      position: absolute;

      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: $black;
      opacity: .5;
    }

    &.col-6,
    &.col-md-6 {
      @include media-breakpoint-up(md) {
        padding-top: 25%;
      }
    }

    h4 {
      position: absolute;
      left: 20px;
      bottom: 10px;

      color: $white;
      opacity: .8;
      font-size: 5rem;
      font-weight: 100;

      z-index: 2;
    }
  }

  .gallery-button {
    background-color: map_get($theme-colors, primary);
    color: $white;
    text-align: center;

    padding-bottom: 3rem;
    @include media-breakpoint-up(md) {
      padding-bottom: 0;
    }

    h3 {
      font-size: 2.1rem;

      margin: 3rem 0 4rem;
    }

    .btn {
      color: map_get($theme-colors, primary);

      padding: 10px 30px;
    }
  }
}

.product-gallery {
  display: none;
}