@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.production-container {
  position: relative;

  margin-bottom: -150px;
  .page-template-company &,
  .page-template-quality & {
    margin-bottom: -350px;
  }

  background-color: $white;

  .page-template-products & {
    background-color: transparent;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

  }
  .page-template-customers &,
  .page-template-quality & {
    margin-bottom: -50px;
    background-color: map_get($theme-colors, primary);
  }

  .container {
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(lg) {
      transform: translateY(-50%);
    }
  }

  .card-group {
    box-shadow: 0 20px 100px 0 rgba($black, .1);
    .page-template-products & {
      box-shadow: none;
    }

    .card-body {
      position: relative;

      padding-bottom: 6rem;

      .btn {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
      }
    }
  }

  .card {
    border: 0;
    background-color: $white;
    color: $body-color;

    text-align: left;

    &:nth-child(2n) {
      background-color: map_get($grays, 100);
    }

    .page-template-products & {
      background-color: transparent !important;
      color: $white;

      text-align: center;

      border-left: 1px dotted rgba($white, .2) !important;
      &:first-child {
        border-left: 0 !important;
      }

      border-bottom: 4px solid rgba(map_get($theme-colors, primary), .3);
      &:nth-child(2n) {
        border-bottom-color: rgba(map_get($theme-colors, primary), .8);
      }
    }

    &:hover {
      small {
        color: map_get($theme-colors, primary) !important;
        opacity: 1 !important;
      }
    }

    flex: 0 0 100%;
    @include media-breakpoint-up(sm) {
      flex: 0 0 50%;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 0 25%;
    }

    &:first-child {
      h3 {
        visibility: visible;
      }
    }

    h3 {
      visibility: hidden;

      margin-top: .25rem;
      margin-bottom: 2rem;

      font-size: .9rem;
      text-transform: uppercase;

      color: map-get($theme-colors, primary);
    }

    a {
      color: inherit;
    }

    .card-title {
      margin-top: 0;

      .page-template-products & {
        margin-top: 2rem;
      }

      small {
        color: map_get($theme-colors, primary);

        &:after {
          content: ".";
        }

        .page-template-products & {
          color: inherit;
          &:after {
            content: "";
          }

          position: absolute;
          top: 0;
          left: 20px;

          font-family: $font-family-base;
          font-size: 5rem;
          font-weight: 100;

          opacity: .3;
          transition: .5s linear;
        }
      }
    }

    .card-text {
      color: map_get($grays, 600);
    }

    .btn {
      color: $white;

      margin-top: 2rem;
      margin-bottom: 1rem;

      padding: 9px 11px;
    }
  }

  + .spacer {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}