@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.production-others-container {
  background-color: $white;
  @include media-breakpoint-up(md) {
    background-color: transparent;
    margin-top: -280px;
  }

  position: relative;
  z-index: 3;

  h2 {
    text-align: center;

    font-size: 2.8rem;
    color: map_get($theme-colors, primary);

    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 2rem;

    color: map_get($grays, 700);
  }

  p {
    color: map_get($grays, 500);
    margin-bottom: 2rem;
  }

  a {
    font-size: .9rem;
    font-weight: 500;
  }

  .row {
    margin-bottom: 2rem;

    &:first-child,
    &:last-child {
      margin-bottom: 0;
    }

    + .row {
      position: relative;
      z-index: 3;

      .col-6,
      .col-md-6 {
        &:first-child {
          padding-left: 0;
          padding-right: 0;

          background-position: center;
          background-size: cover;

          @include media-breakpoint-down(md) {
            padding-top: 25%;
          }
        }

        + .col-6,
        + .col-md-6 {
          background-color: map_get($grays, 100);
          padding: 2.5rem;
        }
      }
    }
  }
}