@import "~bootstrap/scss/variables";

.share {
  padding: 10px;
  margin: calc(3rem - 7px) 20% 0;

  font-size: 1.2rem;
  font-weight: $font-weight-bold;

  text-transform: uppercase;

  background-color: map_get($grays, 100);
  color: map_get($theme-colors, primary);

  h4 {
    font-size: .9rem;
    font-weight: $font-weight-bold;
    text-align: center;

    margin-bottom: 1.7rem;
  }

  li {
    a {
      display: block;
      text-align: center;
    }
  }
}
