@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.share {
  padding: 10px;

  width: 100px !important;
  @include media-breakpoint-down(md) {
    .is-sticky & {
      display: none;
    }
  }

  margin-top: calc(3rem - 7px);

  font-size: 1.2rem;
  font-weight: $font-weight-bold;

  text-transform: uppercase;

  background-color: map_get($grays, 100);
  color: map_get($theme-colors, primary);

  // top: calc(30px + 70px + 10px);

  h4 {
    font-size: .9rem;
    font-weight: $font-weight-bold;
    text-align: center;

    margin-bottom: 1.7rem;
  }

  li {
    a {
      display: block;
      text-align: center;

      margin-bottom: 10px;
    }
  }
}
